.total {
  border: 2px solid rgba(0, 119, 255, 0.175);
  background: rgba(0, 132, 255, 0.15);
  border-radius: 8px;
  padding: 1rem;
}

.total p {
  margin: 0px;
  padding: 4px;
  border-bottom: 1px groove rgba(0, 0, 0, 0.15);
}

.total h2 {
  background: rgba(0, 132, 255, 0.15);
  margin: 0;
  padding: 0.4rem 0rem 0.4rem 2rem;
  border-radius: 3px;
  color: rgb(0, 89, 172);
}

.detailsWrapper {
  display: flex;
  margin: 0.5rem 4rem;
}

.details1 {
  flex: 2;
  margin-right: 5rem;
  display: grid;
  grid-template-columns: 1fr 1.75fr;
}

.details2 {
  flex: 3;
  display: grid;
  grid-template-columns: 1fr 1.75fr;
}

.stomachDetails {
  margin: 0.5rem 4rem;
  display: grid;
  grid-template-columns: 1fr 6.5fr;
}

.metabolismDetails {
  margin: 0.5rem 4rem;
  display: grid;
  grid-template-columns: 1fr 6.5fr;
}

.metabolismDetails span {
  font-weight: 600;
}
