.item {
  background: rgba(0, 132, 255, 0.15);
  border-radius: 8px;
  margin-bottom: 0.3rem;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  border: 2px solid rgba(0, 119, 255, 0.175);
}

.itemImage {
  object-fit: scale-down;
  width: 80px;
  height: 80px;
  margin: 0.5rem 1.5rem;
  padding-right: 2rem;
  border-right: 1.5px groove rgba(0, 119, 255, 0.175);
  flex: 0.8;
}

.item p {
  font-size: 22px;
  margin: 0;
  align-self: center;
  margin-right: 1rem;
}

.amount {
  flex: 0.75;
}

.itemName {
  flex: 2;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem;
  padding-left: 2rem;
  border-left: 1px groove rgba(0, 119, 255, 0.175);
  flex: 2.5;
}

.details p {
  font-size: 14px;
  align-self: flex-start;
  color: rgba(39, 18, 18, 0.75);
}

.removeButton {
  align-self: flex-start;
  margin-left: auto;
  height: 2rem;
}
