.main {
  border-top: 2px solid rgb(37, 16, 16);
}

.filterWrapper {
  background: rgba(0, 132, 255, 0.15);
  border-bottom: 2px solid rgba(0, 119, 255, 0.175);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0.5rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
}

.select {
  margin: 0.5rem 0.5rem 0rem 0rem;
  height: 2.5rem;
  min-width: auto;
}

.list ul {
  padding: 1rem;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(215px, 215px));
  grid-gap: 10px;
  justify-content: center;
  overflow-y: auto;
  max-height: 82vh;
  width: 95%;
  margin: auto;
  overflow-y: auto;
}

h2 {
  color: rgb(0, 89, 172);
}

@media only screen and (max-width: 670px) {
  .filterWrapper {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    justify-content: center;
  }
}

@media only screen and (max-width: 465px) {
  .filterWrapper {
    display: grid;
    grid-template-columns: repeat(1, 95%);
  }
}
