.wrapper {
  display: flex;
}

.spinnerWrapper {
  width: 55vh;
  height: 75vh;
  margin-right: 1.5rem;
}

.spinner {
  height: 1rem;
  width: 1rem;
  padding-left: 45%;
  padding-top: 65%;
}

.image {
  width: 55vh;
  height: 75vh;
  object-fit: scale-down;
  margin-right: 1.5rem;
}

.stats {
  flex: 1;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 100%;
  min-width: 320px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

.stats p {
  border-bottom: 1px groove rgba(0, 0, 0, 0.15);
  margin-bottom: 0;
  margin-top: 0;
  padding: 10px 0px;
}

@media only screen and (max-width: 1400px) {
  .image {
    width: 100%;
  }
  .stats {
    margin-left: 1.5rem;
  }
}

@media only screen and (max-width: 750px) {
  .wrapper {
    flex-direction: column;
  }
  .image {
    width: 100%;
    height: 15rem;
  }
  .stats {
    margin: 0;
  }
}

@media only screen and (max-width: 450px) {
  .stats {
    font-size: 14px;
  }
}

@media only screen and (max-width: 300px) {
  .stats {
    font-size: 12px;
    min-width: 150px;
  }
}
